extends layout

block append scripts
  script(type="text/javascript", src='/vendor/javascripts/jquery-1.12.0.min.js')
  script(type="text/javascript", src='/vendor/javascripts/bootstrap/bootstrap.min.js')
  script(type="text/javascript", src='/build/javascripts/main.js')

block append styles
  styles(type="text/javascript", src='/vendor/javascripts/react-datepicker/react-datepicker.css')

block append content
  h1 Reading Challenge
  #jsx-app
