extends layout

block append content
    :markdown
      # Privacy Policy

        Reading Challenge is a service maintained by Dan, Pam and Mohit. We have a few fundamental principles regarding privacy:

        * We only ask for personal information that we truly need for operating our service.
        * We don’t share your personal information with anyone except to comply with the law, improve the products, or protect our rights.
        * We don’t store personal information on our servers unless required for the on-going operation of the services.
          
      Reading Challenge (“Reading Challenge,” “we,” or “us”) understands that privacy is tremendously important to our online visitors to our website (“Website Visitors”), to schools who register for our Service (“Schools”), and to students whose information we may access on behalf of a School (“Students”). This privacy policy applies to our website [#{url}](#{url}), to the Reading Challenge and Charmed City Readers mobile applications (our “Apps”) and describes the steps we take to protect your data.
      
      Click on the links below to jump to each section:
      
      1.  [How We Collect and Use Information](#how_we_collect_and_use_information)
      2.  [Sharing of Your Information](#how_we_share_information)
      3.  [How We Store and Protect Your Information](#how_we_protect_your_information)
      4.  [Your Choices About Your Information](#your_choices_about_your_information)
      5.  [Children’s Privacy](#childrens_privacy)
      6.  [Our Service Providers (third-parties)](#our_service_providers)
      7.  [How to Contact Us](#how_to_contact_us)
      8.  [Changes to Our Privacy Policy](#changes_to_our_privacy_policy)
      9.  [Changelog](#changelog)
      
      ## _We strive to be transparent in our data collection and use practices. This is the type of personal information we may collect._
      
      ### 1. HOW WE COLLECT AND USE INFORMATION
      
      We collect the following types of information:

      **Student Data:** Reading Challenge may have access to personally identifiable information about students (“Student Data”) in the course of providing its services to a School. We consider Student Data to be confidential and do not use such data for any purpose other than to provide the services on the School’s behalf. Reading Challenge obtains Student Data from Clever only after the School has authorized access to Reading Challenge. Reading Challenge obtains only the minimal information required to identify the Student after they are logged in.
      
      If you are a Student or parent, please contact your School if you have questions about the School’s use of Reading Challenge. If a Student or Parent contacts Reading Challenge with a question about our Service, we will collect personal information from that Student only as necessary to respond to the Student’s request and direct the Student to contact the Student’s School, and we will then delete or anonymize the personal data of the Student after providing our response.
      
      **Information collected through technology:** Like most website operators, we automatically collect certain types of usage information when visitors view our website or use our service. We may send one or more cookies — a small text file containing a string of alphanumeric characters — to your computer that uniquely identifies your browser and lets us keep you logged in and to enhance your navigation through the site. A cookie may also convey information to us about how you use the Service (e.g., the pages you view, the links you click and other actions you take on the Service), and allow us to track your usage of the Service over time. We may collect log file information from your browser or mobile device each time you access the Service. Log file information may include anonymous information such as your web request, Internet Protocol (“IP”) address, browser type, information about your mobile device, number of clicks and how you interact with links on the Service, pages viewed, and other such information. We may also collect analytics data, or use third-party analytics tools, to help us measure traffic and usage trends for the Service. <u>We do not allow third party advertising networks to collect information about the users of our Site or Service.</u>
      
      We use or may use the data collected through cookies, log files, device identifiers, and clear gifs information to: (a) remember information so that a user will not have to re-enter it during subsequent visits; (b) provide custom, personalized content and information; (c) to provide and monitor the effectiveness of our Service; (d) monitor aggregate metrics such as total number of visitors, traffic, and usage on our website and our Service; (e) diagnose or fix technology problems; and (f) help users efficiently access information after signing in. 
      
      ## _Student privacy is very important to us. Student Data is used only for educational purposes at the discretion of the School._
      
      ### 2. HOW WE SHARE YOUR INFORMATION
      
      We only shares personal information in a few limited circumstances, described below.  We do not rent or sell information for marketing purposes.
      
      Who we may share information with:
      
      *   We may share information with those that provide us with technology services (e.g. web hosting and analytics services), but strictly for the purpose of carrying out their work for us.
      *   We may be required to share information with law enforcement or other third parties when compelled to do so by court order or other legal process, to comply with statutes or regulations. Since we store only minimal information about users, this is highly unlikely and has not occoured.
      
      **In the event of a change of control:** If we sell, divest or transfer our business, we will not tranfer any data. We will notify "Schools" to obtain the data before deleting it from our services.

      ### 3. HOW WE STORE AND PROTECT YOUR INFORMATION
      
      **Storage and processing:** Any information collected through the Service is stored and processed in the United States. If you use our Service outside of the United States, you consent to have your data transferred to the United States.
      
      **Keeping information safe:**  Reading Challenge maintains strict administrative, technical and physical procedures to protect information stored in our servers, which are located in the United States. Access to information is limited to those employees who require it to perform their job functions. We use industry-standard Secure Socket Layer (SSL) encryption technology to safeguard the account registration process and sign-up information. Other security safeguards include but are not limited to data encryption, firewalls, and physical access controls to building and files.
      
      ## _Questions about data? Here are your options._
      
      ### 4. YOUR CHOICES ABOUT YOUR INFORMATION
      
      *Account information and settings:* Schools may update account information and modify Services by signing into the administrator account.  
      
      If you have any questions about reviewing or modifying account information, contact us directly at [mohit.ed@ischool.berkeley.edu](mailto:mohit.ed@ischool.berkeley.edu).
      
          *Access to Student Data:* Student Data is provided and controlled by the Schools. If you have any questions about reviewing, modifying, or deleting personal information of a student, please contact your School directly.
      
          Deleting or disabling cookies: You may be able to disallow cookies to be set on your browser. Please look for instructions on how to delete or disable cookies and other tracking/recording tools on your browser’s technical settings. You may not be able to delete or disable cookies on certain mobile devices and/or certain browsers. For more information on cookies, visit [www.allaboutcookies.org](www.allaboutcookies.org). Remember, disabling cookies may disable many of the features available on the Service, so we recommend you leave cookies enabled.
      
          How long we keep User Content: Following termination or deactivation of a School account, Reading Challenge may retain profile information and content for a commercially reasonable time for backup, archival, or audit purposes, but any and all Student Data associated with the School will be deleted promptly.  
      ## _We do not collect any information from students without consent._
      
      ### 5. CHILDREN’S PRIVACY
      
      We do not knowingly collect any information from children under the age of 13 unless the School has obtained appropriate parental consent for the student to use the Service. 

      ### 6. OUR SERVICE PROVIDERS

      Reading Challenge is built on top of third-party services. To operate our Services these Services might add cookies, collect anonymous metadata, and have access to data stored by Reading Challenge.

      * Google: Used for supporting [Google Sign-in](https://firebase.google.com/docs/auth/), Android mobile application and [data storage] using Firebase. [Google Privacy](https://www.google.com/intl/en/policies/privacy/)
      * Heroku: Hosting provider for our Service. [Heroku Privacy Statement](https://www.heroku.com/policy/privacy)
      
      ### 7. HOW TO CONTACT US
      
      If you have any questions about this Privacy Policy or the Service, please contact us at [mohit.ed@ischool.berkeley.edu](mailto:mohit.ed@ischool.berkeley.edu).
      
      ### 8. CHANGES TO OUR PRIVACY POLICY
      Although most changes are likely to be minor, Reading Challenge may change its Privacy Policy from time to time. We will notify the Schools using Reading Challenge of any changes to the Privacy Policy. Your continued use of this site after any change in this Privacy Policy will constitute your acceptance of such change.

      ### 9. CHANGELOG 
      * June 21, 2016: Initial Policy
